<div class="footer">
  <div class="container">
    <div class="row">
    <div class="col-md-4">
        <img src="assets/images/2016/03/Sion-White_footer-logo-1.png" class="img-responsive" />
        <div class="clearfix"></div>
        <p> SiNON is dedicated to improving the lives of those who suffer from debilitating neurological diseases by increasing the ability of drugs to cross the Blood Brain Barrier (BBB).
</p>
    </div>
    <div class="col-md-4">
      <h3>Pages</h3>
      <div class="clearfix"></div>
      <div class="divider"></div>
      <div class="clearfix"></div>
          <ul class="footer-nav">
        <li class="" ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="aboutus">About Us</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="ourteam">Our Team</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="research">Reasearch</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="collaboration">Collaboration</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="news">News</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="produts">Products</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="contactus">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-4 latestnews">
<h3>Latest News</h3>
      <div class="clearfix"></div>
      <div class="divider"></div>
      <div class="clearfix"></div>
      <div class="row news" ng-repeat="new in footer.newsUpdatesRoutes | orderBy:'-updatedDate' | limitTo:2">
        <div class="col-md-4">
           <img ng-src="{{new.imgSrc}}" class="img-responsive" />
        </div>
        <div class="col-md-8">
          <a ng-href="{{new.href}}" ng-attr-id="news_{{$index}}">
          <span class="date">{{new.updatedDate | date:'MMMM dd, yyyy'}}</span>
          <span class="name">{{new.name}}</span>
          </a>
        </div>
      </div>
    </div></div>
  </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
    <div class="col-md-12">   
© Copyright Sinon Therapeutics 2016. All rights reserved.

    </div>
  </div>
  </div>
  </div>
