  <div class="container maincontent">
        <div class="row">
     <div class="col-md-12">
       <h1><span>BRC D2D Interview</span></h1>
       <div class="divider"></div>
       <div class="clearfix"></div>
</div>
<div class="col-md-12 marg-bottom-20">
    <span>April 06, 2016</span>
</div>

<div class="col-md-12 marg-bottom-20">
    <!--<img src="assets/images/2016/08/news1.jpg" class="img-responsive" />-->
    <iframe width="100%" height="540" src="https://www.youtube.com/embed/VVSj1PCLyqo?ecver=1" frameborder="0" allowfullscreen></iframe>
</div>
<div class="col-md-12 newscontent">
  <p>SiNON is dedicated to improving the lives of those who suffer from debilitating neurological diseases by increasing the ability of drugs to cross the Blood Brain Barrier (BBB). Our patented nanoparticle, the Carbon Dot, will enable pharmaceutical companies to encapsulate their drugs in a way which dramatically improves drug-localization to the brain. This allows for a reduction in overall dose administration to the patient, leading to reduced toxicity risk and side-effects while improving therapeutic index and cost-efficacy. Considering the rapid growth of the senior population, and subsequent increase in neurological disease, we believe that our novel technology is an essential part of the overall solution to this healthcare crisis in the US and around the world.</p>
</div>
<div class="col-md-12 marg-top-40">
<a href="" ng-click="updates.changeRoute('Therapeutics')" class="previous">
    <div class="leftarrow"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></div>
    <div class="newstitle">Therapeutics<br>
    <span>April 06, 2016</span></div>
</a>
<a href="" ng-click="updates.changeRoute('SiNON Overcomes')" ng-click="" class="next">
    <div class="rightarrow"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></div>
   <div class="newstitle">SiNON Overcomes Barriers to Win Grand Prize<br>
    <span>March 01, 2015</span></div>
</a>
</div>



   </div> </div>