<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <span class="glyphicon glyphicon-home"></span> Sinontp
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="" ui-sref-active="active"><a ui-sref="home">HOME</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="aboutus">ABOUT US</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="ourteam">OUR TEAM</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="research">REASEARCH</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="collaboration">COLLABORATION</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="news">NEWS</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="produts">PRODUTS</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="contactus">CONTACT US</a></li>
      </ul>
    </div>
  </div>
</nav>
